.bodyLogin{
    background-color: #EE0000;
    height: 100%;
    margin: 0px;
}

.linhaLogin{
    height: 100%;
}

.cardLogin{
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.alinhaCentro{
    position: relative;
    top: 50% !important;
    transform: translateY(-50%); 
}

.form-control{
    border-radius: 10px;
    border-color: rgb(87, 87, 87) !important;
    color: rgb(41, 41, 41) !important;
}

.btnRedLogin{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
    width: 100%;
}

.btnRedLogin:hover{
    background-color: white;
    color: #EE0000;
    border-color: #EE0000;
}

.btnRed{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
    /* width: 100%; */
    border-radius: 20px;
    padding: 10px 30px !important;
}

.btnRed:hover{
    background-color: white;
    color: #EE0000;
    border-color: #EE0000;
}

.btnCinza{
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* width: 100%; */
    border-radius: 20px;
    padding: 10px 30px !important;
}

.divCarteirinha{
    background-image: url("../img/fundoCarteirinha.png");
    background-size: 550px;
    background-repeat: no-repeat;
    width: 550px;
    height: 308px;
    border-radius: 15px;
}

.nomeCarteirinha{
    position: relative;
    left: -130px; 
    top: 100px;
    color: white;
    font-weight: bold;
    width: 250px;
}

.cpfCarteirinha{
    position: relative;
    left: -130px; 
    top: 98px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 250px;
}

.numeroCarteirinha{
    position: relative;
    left: -130px; 
    top: 230px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
}

.validadeCarteirinha{
    position: relative;
    left: 135px;
    top: 195px;
    color: white;
    font-weight: bold;
    font-size: 8px;
    width: 250px;
}

.dataCarteirinha{
    font-size: 12px;
}

.btnCinza:hover{
    background-color: white;
    border-color: #b8b8b8;
    color: #b8b8b8;
}

.link{
    color: #EE0000;
    font-weight: bold;
}

.link:hover{
    color: #EE0000;
}

.imgLogoBlog{
    position: relative;
    top: -60px !important;
}

.divCinza{
    position: absolute;
    top: 140px !important;
    left: 5% !important;
    background-color: #adadad;
    height: 200px;
    width: 90%;
    z-index: -9998;
}

.divCinzaParceiros{
    position: relative;
    top: 180px !important;
    background-color: #adadad;
    height: 200px;
    width: 100%;
    z-index: -9998;
}

.divCinzaUsuario{
    position: absolute;
    top: 140px !important;
    left: 5% !important;
    background-color: #adadad;
    height: 130px;
    width: 90%;
    z-index: -9998;
}

.parceiros_area{
    background-color: #adadad;
    z-index: -9999;
}

.divVermelha{
    position: absolute;
    top: 255px !important;
    background-color: #EE0000;
    height: 150px;
    width: 100%;
    z-index: -9999;
}

.divVermelhaUsuario{
    position: absolute;
    top: 200px !important;
    background-color: #EE0000;
    height: 230px;
    width: 100%;
    z-index: -9999;
}

.divNovidade{
    padding-top: 6rem;
    /* padding-bottom: 1rem; */
    width: 100%;
}

.divUsuario{
    padding-top: 6.5rem;
    position: relative;
    /* padding-bottom: 1rem; */
    width: 84%;
    left: 8%;
}

.nomeUsuario{
    position: relative;
    top: 45px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.divParceiros{
    padding-top: 4rem;
    /* padding-bottom: 1.4rem; */
    width: 100%;
    z-index: -9997;
}

.divDadosPost{
    font-weight: bold;
    color: #8d0000;
    font: 15px;
}

.divDescricaoPost{
    font-size: 18px;
    color: rgb(24, 24, 24);
}

.nav-link{
    font-weight: bold !important; 
    color: rgb(24, 24, 24) !important;
}

.nav-link:hover{
    font-weight: bold !important;
    color: #EE0000 !important;
}

.dropdown-item{
    font-weight: bold !important;
    color: rgb(24, 24, 24) !important;
}

.dropdown-item:hover{
    color: #EE0000 !important;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar{
    -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.77);
    
}

.header_area{
    margin-bottom: 100px;
}

.collapse{
    width: 100%;
}

.membroNumero{
    position: relative;
    color: #EE0000;
    font-weight: bold;
    top: -6px;
    width: 100%;
    padding-right: 5px;
}

.usuario_area{
    padding-top: 4rem !important;
}

.link-usuario.active{
    color: #EE0000 !important;
}

.link-usuario.active:hover{
    color: #EE0000 !important;
}

.link-usuario{
    color: white !important;
}

.link-usuario:hover{
    color: white !important;
}

@media (max-width:575px){
    .cardLogin{
      border-radius: 0;
    }
}

@media (max-width:768px){
    
    .divCinza{
        top: 15% !important;
        height: 200px;
        width: 96%;
        left: 2% !important;
    }

    .divVermelha{
        top: 220px !important;
    }
}

@media (max-width:650px){
    .divCarteirinha{
        background-size: 400px;
        width: 400px;
        height: 225px;
        border-radius: 15px;
    }
    
    .nomeCarteirinha{
        left: -89px; 
        top: 70px;
        width: 200px;
        font-size: 13px;
    }
    
    .cpfCarteirinha{
        left: -89px; 
        top: 70px;
        width: 200px;
        font-size: 9px;
    }
    
    .numeroCarteirinha{
        left: -89px; 
        top: 160px;
        width: 200px;
        font-size: 14px;
    }
    
    .validadeCarteirinha{
        left: 65px;
        top: 137px;
        width: 250px;
        font-size: 6px;
    }

    .dataCarteirinha{
        font-size: 9px;
    }
    
}