* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
    accent-color: #ee0000;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: black;
    border-radius: 20px;
}

html,
body {
    width: 100%;
    font-family: Roboto, sans-serif;
    overflow-y: overlay;
    overflow-x: hidden;
}

.header {
    height: 80px;
    width: 100vw;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header > .header-navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.header > .header-navbar > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    height: 100%;
    line-height: 100%;
    margin: 0;
}

.header > .header-navbar ul > li {
    font-weight: bold;
    color: white !important;
    cursor: pointer;
    height: 100%;
    line-height: 77px;
}

.header > .header-navbar ul > li > a {
    text-decoration: none;
    color: white;
}

.header > .header-navbar ul > li.active {
    border-bottom: 3px solid #ee0000;
}

.header > .header-navbar ul > li > .btn-close-menu,
.header > .header-navbar ul > li > .btn-open-menu {
    display: none;
    position: fixed;
    top: 22px;
    right: 40px;
    background-color: transparent;
    border: none;
    color: white;
}

@media only screen and (max-width: 700px) {
    .header > .header-navbar {
        z-index: 10;
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: grid;
        place-items: center;
        background-color: #313131;
        transition: all 0.3s ease-in;
    }

    .header > .header-navbar > ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header > .header-navbar > ul > li {
        height: auto;
        font-size: 3rem;
        line-height: normal;
    }

    .header > .header-navbar ul > li > .btn-open-menu {
        display: block;
    }

    .header > .header-navbar > ul > li.btn {
        font-size: 1rem;
    }
}

.bodyLogin{
    background-color: #EE0000;
    height: 100%;
    margin: 0px;
}

.linhaLogin{
    height: 100%;
}

.divPost{
    cursor: pointer;
}

.cardLogin{
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.alinhaCentro{
    position: relative;
    top: 50% !important;
    transform: translateY(-50%); 
}

.form-control{
    border-radius: 10px;
    border-color: rgb(87, 87, 87) !important;
    color: rgb(41, 41, 41) !important;
}

.btnRedLogin{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
    width: 100%;
}

.btnRedLogin:hover{
    filter: brightness(0.9);
}

.btnRed{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
    /* width: 100%; */
    border-radius: 8px;
    padding: 0px 30px !important;
    margin: 20px;
}

.btnRed:hover{
    filter: brightness(0.9);
}

.btnCinza{
    background-color: #b8b8b8;
    color: white;
    font-weight: bold;
    /* width: 100%; */
    border-radius: 8px;
    padding: 0px 30px !important;
    margin: 20px;
}

.btnCinza:hover{
    filter: brightness(0.9);
}

.link{
    color: #EE0000;
    font-weight: bold;
}

.link:hover{
    color: #EE0000;
}

.divVermelha{
    position: absolute;
    top: 255px !important;
    background-color: #EE0000;
    height: 150px;
    width: 100%;
    z-index: -9999;
}

.divVermelhaUsuario{
    position: absolute;
    top: 200px !important;
    background-color: #EE0000;
    height: 230px;
    width: 100%;
    z-index: -9999;
}

.divNovidade{
    padding-top: 6rem;
    /* padding-bottom: 1rem; */
    width: 100%;
}

.divUsuario{
    padding-top: 6.5rem;
    position: relative;
    /* padding-bottom: 1rem; */
    width: 84%;
    left: 8%;
}

.nomeUsuario{
    position: relative;
    top: 45px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.nav-link{
    font-weight: bold !important; 
    color: rgb(24, 24, 24) !important;
}

.nav-link:hover{
    font-weight: bold !important;
    color: #EE0000 !important;
}

.collapse{
    width: 100%;
}

.membroNumero{
    position: relative;
    color: #EE0000;
    font-weight: bold;
    top: -6px;
    width: 100%;
    padding-right: 5px;
}

.link-usuario.active{
    color: #EE0000 !important;
}

.link-usuario.active:hover{
    color: #EE0000 !important;
}

.link-usuario{
    color: white !important;
}

.link-usuario:hover{
    color: white !important;
}

@media (max-width:575px){
    .cardLogin{
      border-radius: 0;
    }
}

@media (max-width:768px){
    
    .divCinza{
        top: 15% !important;
        height: 200px;
        width: 96%;
        left: 2% !important;
    }

    .divVermelha{
        top: 220px !important;
    }
}