.bodyLogin{
    background-color: #EE0000;
    height: 100%;
    margin: 0px;
}

.linhaLogin{
    height: 100%;
}

.cardLogin{
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.alinhaCentro{
    position: relative;
    top: 50% !important;
    transform: translateY(-50%); 
}

.form-group .form-control{
    border-radius: 10px;
}

.btnRed{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
    width: 100%;
}

.btnRed:hover{
    background-color: white;
    color: #EE0000;
    border-color: #EE0000;
}

.link{
    color: #EE0000;
    font-weight: bold;
}

.link:hover{
    color: #EE0000;
}

.imgLogoBlog{
    position: relative;
    top: -60px !important;
}

.divCinza{
    position: absolute;
    top: 140px !important;
    left: 5% !important;
    background-color: #adadad;
    height: 200px;
    width: 90%;
    z-index: -9998;
}

.divCinzaParceiros{
    position: relative;
    top: 180px !important;
    background-color: #adadad;
    height: 200px;
    width: 100%;
    z-index: -9998;
}

.parceiros_area{
    background-color: #adadad;
    z-index: -9999;
}

.divVermelha{
    position: absolute;
    top: 255px !important;
    background-color: #EE0000;
    height: 150px;
    width: 100%;
    z-index: -9999;
}

.divNovidade{
    padding-top: 6rem;
    /* padding-bottom: 1rem; */
    width: 100%;
}


.divParceiros{
    padding-top: 4rem;
    /* padding-bottom: 1.4rem; */
    width: 100%;
    z-index: -9997;
}

.divDadosPost{
    font-weight: bold;
    color: #8d0000;
    font: 15px;
}

.divDescricaoPost{
    font-size: 18px;
    color: rgb(24, 24, 24);
}

.nav-link{
    font-weight: bold !important; 
    color: rgb(24, 24, 24) !important;
}

.nav-link:hover{
    font-weight: bold !important;
    color: #EE0000 !important;
}

.dropdown-item{
    font-weight: bold !important;
    color: rgb(24, 24, 24) !important;
}

.dropdown-item:hover{
    color: #EE0000 !important;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar{
    -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.77);
    
}

.header_area{
    margin-bottom: 100px;
}

.collapse{
    width: 100%;
}

@media (max-width:575px){
    .cardLogin{
      border-radius: 0;
    }
}

@media (max-width:768px){
    
    .divCinza{
        top: 15% !important;
        height: 200px;
        width: 96%;
        left: 2% !important;
    }

    .divVermelha{
        top: 220px !important;
    }
}
